<div class="col-sm-5" style="padding: 3%; border-left: 2px solid green;">
  <h3 class="text-right-xs">Register</h3>
<p class="text-muted text-right-xs left-alignment">
  Please fill out the form below to create a new account.
</p>
<div class="form-white">
  <form (ngSubmit)="registration()" ngNativeValidate #form="ngForm">
    <div class="form-group left-alignment">
      <label for="email2"><span class="asterix">*</span>Username</label>
    <input type="text" class="form-control" [(ngModel)]="newRegistration.username" name="username" placeholder="Enter username" required>
    </div>
    <div class="form-group left-alignment">
    <div class="row">
      <div class="col-sm-6">
      <label for="password2"><span class="asterix">*</span>Password</label>
      <input type="password" class="form-control" [(ngModel)]="newRegistration.password2"  name="password2" id="password2" placeholder="Password" #password2="ngModel" required>
      <span class="help-block error-text"
        *ngIf="password2.touched && password2.errors?.required">
        Password is required
      </span>
      </div>
      <div class="col-sm-6">
      <label for="password2"><span class="asterix">*</span>Confirm password</label>
      <input type="password" class="form-control" [(ngModel)]="newRegistration.password3" name="password3" id="password3" appConfirmEqualValidator="password2"  placeholder="Confirm Password" #password3="ngModel" required>
      <!-- <span *ngIf="areNotEqual" class="asterix fontsize">Password does not match!</span> -->
      <span class="help-block error-text"
        *ngIf="password3.touched && password3.errors?.required">
        Confirm Password is required
      </span>
      <span class="help-block error-text"
        *ngIf="password3.touched && password3.errors?.notEqual">
        Password does not match
      </span>
      </div>
    </div>
    </div>
    <div class="checkbox">
      </div>
    <button type="submit" [disabled]="form.invalid" class="btn btn-block btn-color btn-xxl btn-success">Create an account</button>
  </form>
  <br>
  <div id="already-exists" class="hidden">
    <p class="asterix fontsize">Username already exists! Try with different Username</p>
  </div>
  <div *ngIf="userAdded" id="user-created">
      <p class="success">User added successfully!</p>
    </div>
</div>
</div>