<div class="col-sm-5 custom-line">
  <h3 class="text-right-xs">Register</h3>
<p class="text-muted text-right-xs left-alignment">
  Please fill out the form below to create a new account.
</p>
<div class="form-white">
  <form (ngSubmit)="registration()" ngNativeValidate #form="ngForm">
    <div class="form-group left-alignment">
      <label for="username"><span class="asterix">*</span>Username</label>
    <input type="text" class="form-control" [(ngModel)]="newRegistration.username" name="username" placeholder="Enter username" #username="ngModel" minlength="3" maxlength="15" required>
    <span class="help-block error-text"
        *ngIf="username.touched && username.errors?.required">
        Username is required
    </span>
    <span class="help-block error-text" *ngIf="username.touched && username.errors?.minlength">
      Username must be at least 3 characters long.
    </span>
    </div>
    <div ngModelGroup="passwordGroup"
     [class.has-error]="password3.touched && password3.invalid && !password3.errors?.required">
    <div class="form-group left-alignment">
    <div class="row">
      <div class="col-sm-6">
      <label for="password2"><span class="asterix">*</span>Password</label>
      <input type="password" class="form-control" [(ngModel)]="newRegistration.password2" name="password2" id="password2" (input)="password3.control.updateValueAndValidity()" placeholder="Password" #password2="ngModel" minlength="8" maxlength="15" required>
      <span class="help-block error-text"
        *ngIf="password2.touched && password2.errors?.required">
        Password is required
      </span>
       <span class="help-block error-text" *ngIf="password2.touched && password2.errors?.minlength">
          Password must be at least 8 characters long.
        </span>
      </div>
      <div class="col-sm-6">
      <label for="password3"><span class="asterix">*</span>Confirm password</label>
      <input type="password" class="form-control" [(ngModel)]="newRegistration.password3" name="password3" id="password3" appConfirmEqualValidator="password2"  placeholder="Confirm Password" #password3="ngModel" required>
      <span class="help-block error-text"
        *ngIf="password3.touched && password3.errors?.required">
        Confirm Password is required
      </span>
      <span class="help-block error-text"
        *ngIf="password3.touched && password3.errors?.notEqual && !password3.errors?.required">
        Password does not match
      </span>
      </div>
    </div>
    </div>
  </div>
    <div class="checkbox">
      </div>
    <button type="submit" [disabled]="form.invalid" class="btn btn-block btn-color btn-xxl btn-success">Create an account</button>
  </form>
  <br>
  <div *ngIf="userAlreadyExists" id="already-exists" >
    <p class="asterix fontsize">Username already exists! Try with different Username</p>
  </div>
  <div *ngIf="error" id="error" >
    <p class="asterix fontsize">Username already exists! Try with different Username</p>
  </div>
  <div *ngIf="userAdded" id="user-created">
      <p class="success">User added successfully!</p>
    </div>
</div>
</div>
