.btn-danger {
	color: #eeeeee;
}

.align-center {
	text-align: center;
}

.custom-modal{
	opacity: 1;
	top : 30px !important;
}

/* .model-content .custom-modal{
	top : 30px !important;
} */

.custom-table{
	height: 240px;
	overflow-y:scroll;
}