.header-class{
    padding-top: 40px;
    margin-top: 0px;
    padding-bottom: 40px;
    background-color: #5cb85c;
    color: white;
    background: linear-gradient(to right, rgba(86, 171, 47, 1), rgba(86, 171, 47, .7));
    margin-bottom: 50px;
}