.header-class{
    padding-top: 40px;
    margin-top: 0px;
    padding-bottom: 40px;
    background-color: #5cb85c;
    color: white;
    background: linear-gradient(to right, rgba(86, 171, 47, 1), rgba(86, 171, 47, .7));
}



#logout-btn {
    position: absolute;
    right: 0;
    top: 46px;
    color: white;
    display: flex;
    padding-right: 20px;
}

.welcome-title{
    height: 30px;
    border-radius: 15px;
    line-height: 30px;
    padding: 0 10px;
    background : #17a017;
    border: 1px solid palegreen;
    font-family: verdana;
}

.vertical-line{
    border-right: 1px solid white;
    margin-right: 5px;
    margin-left: 1px;    
}

@media screen and (max-width:915px) {
    #logout-btn{
        right: 0;
        display: flex;
        justify-content: center;
        top: 84px;
        left:0;
    }   
}